name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ] # 메인 브랜치에 코드 push할 때 실행

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Tesseract OCR
        run: |
          sudo apt-get update
          sudo apt-get install -y tesseract-ocr
          sudo apt-get install -y libtesseract-dev
          # 필요한 경우 한국어 데이터팩 추가 설치
          sudo apt-get install -y tesseract-ocr-kor

      - name: Check Tesseract Version
        run: tesseract --version
